.card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-100);
    width: 50%;
    padding: 2em;
    margin: 2em;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--card-box-shadow-1);
}

.card_description {
    display: flex;
    align-items: center;
    gap: 1em;
}

.in_card {
    display: flex;
    flex-direction: column;
}

.in_card_button_wrapper {
    align-self: flex-end;
}

.in_card_button {
    background-color: var(--primary-100) !important;
    color: white !important;
    font-weight: 600 !important;
}
